<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hi/Lo Game</title>
  </head>
  <body>
      <h1>This is a HI/LO Game</h1>
      <h2>Current Player: <%=@player%></h2>
      <h2>User Guess: <%=@guess%></h2>
      <h2>Response: <%=@response%></h2>
      <h2>Past Guesses: <%=@guess_counter%></h2>
      <h2>Guess Counter: <%=@guess_counter.length%></h2>
  </body>
</html>
